body {
  background-color: #b6babf;
  box-sizing: border-box;
}

.container {
  background-color: white;
}

.userSelected {
  background-color: yellow;
}

#card {
  margin-top: 1%;
  margin-bottom:1%;
  padding-left: 2%;
  height: 250px;
  width: 300px;
  margin-right: 20px;
  margin-left: 55px;
}
